@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var content = (ContentModels.ProductPreview)Model.Content;
}
<li class="tile product-preview@((content.ProductPage != null) ? " product-preview__linked" : string.Empty)">
    @if (content.ProductPage != null) { 
        @:<a href="@content.ProductPage.Url()">
    }
    <figure class="tile__link">
        @if (content.Photo != null)
        {
            <img src="@content.Photo.MediaUrl()?width=180&height=180&mode=pad&bgcolor=fff&upscale=false" alt="@content.ProductName" width="180" height="180" />
        }
        <figcaption class="product-preview__detail">
            <p class="product-preview__title">@content.ProductName</p>
            @if (!string.IsNullOrWhiteSpace(content.Description))
            {
                <p class="product-preview__description">@content.Description
                @if (!string.IsNullOrWhiteSpace(content.Delivery))
                {
                    @:£@content.Delivery delivery.
                }
                </p>
            }
        </figcaption>
    </figure>
    <span class="product-preview__price">£@content.Price</span>   
    @if (content.ProductPage != null) {
        @:</a>
    }
</li>