@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsSummaryViewModel<Club>>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Statistics
@using Stoolball.Clubs
@using Stoolball.Matches
@using Stoolball.Statistics
@{
    Html.RequiresCss("/statistics/statistics.min.css");

    var individualScores = new StatisticsViewModel<PlayerInnings>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    individualScores.Results.AddRange(Model.PlayerInnings);
    var bowlingFigures = new StatisticsViewModel<BowlingFigures>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    bowlingFigures.Results.AddRange(Model.BowlingFigures);
    var mostRuns = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, ShowTeamsColumn = true, StatisticsFilter = Model.StatisticsFilter };
    mostRuns.Results.AddRange(Model.MostRuns);
    var mostWickets = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, ShowTeamsColumn = true, StatisticsFilter = Model.StatisticsFilter };
    mostWickets.Results.AddRange(Model.MostWickets);
    var mostCatches = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, ShowTeamsColumn = true, StatisticsFilter = Model.StatisticsFilter };
    mostCatches.Results.AddRange(Model.MostCatches);
}
<div class="container-xl">
    <h1>@Model.Context.ClubName</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.ClubRoute">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.ClubRoute/matches">Matches</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Statistics</em>
        </li>
    </ul>


    @if (!Model.InningsStatistics.Any() && !Model.PlayerInnings.Any() && !Model.BowlingFigures.Any() && !Model.MostRuns.Any() && !Model.MostWickets.Any() && !Model.MostCatches.Any())
    {
        @Html.Partial("_NoData")
    }
    else
    {
        @Html.Partial("_InningsStatistics", Model.InningsStatistics)
        @Html.Partial("_IndividualScores", individualScores)
        @Html.Partial("_MostRuns", mostRuns)
        @Html.Partial("_BattingAverage", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
        @Html.Partial("_BattingStrikeRate", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
        @Html.Partial("_BowlingFigures", bowlingFigures)
        @Html.Partial("_MostWickets", mostWickets)
        @Html.Partial("_BowlingAverage", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
        @Html.Partial("_EconomyRate", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
        @Html.Partial("_BowlingStrikeRate", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
        @Html.Partial("_MostCatches", mostCatches)
        @Html.Partial("_MostRunOuts", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
    }
</div>