@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>

<h1>@Model.Club.ClubName</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <em class="nav-link active">Summary</em>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.Club.ClubRoute/matches">Matches</a>
    </li>
    @if (Model.IsAuthorized)
    {
    <li class="nav-item">
        <a class="nav-link" href="@Model.Club.ClubRoute/edit">Edit</a>
    </li>
    }
</ul>

@Html.Partial("_TeamList", Model.Club.Teams)

@if (Model.Club.ClubMark)
{
    @Html.Partial("_ClubMark")
}