@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubsViewModel>
@using Humanizer

<h1>Stoolball clubs</h1>

<dl>
    @foreach (var club in Model.Clubs.Where(x => x.Teams.Count > 0))
    {
        <dt><a href="@club.ClubRoute">@club.ClubName</a></dt>
        <dd>@(club.Teams.Select(x => x.PlayerType).Distinct().Humanize().Humanize(LetterCasing.Sentence))</dd>
    }
    @foreach (var club in Model.Clubs.Where(x => x.Teams.Count == 0))
    {
        <dt><a href="@club.ClubRoute">@club.ClubName</a></dt>
        <dd>
            <p><strong>This club doesn't have any active teams</strong></p>
        </dd>
    }
</dl>