@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>
@using Stoolball.Web.Security

<h1>@Model.Club.ClubName</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <em class="nav-link active">Summary</em>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.Club.ClubRoute/matches">Matches</a>
    </li>
    @if (Model.IsAuthorized[AuthorizedAction.EditClub] || Model.IsAuthorized[AuthorizedAction.DeleteClub])
    {
    <li class="nav-item">
        <a class="nav-link" href="@Model.Club.ClubRoute/edit">Edit</a>
    </li>
    }
</ul>

@if (Model.Club.Teams.Count > 0)
{
    @Html.Partial("_TeamList", Model.Club.Teams)
}
else
{
    <p>@Model.Club.ClubName doesn't have any active teams.</p>
}

@if (Model.Club.ClubMark)
{
    @Html.Partial("_ClubMark")
}