@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>
@using Stoolball.Security
@{ 
    var authorizedToEdit = Model.IsAuthorized[AuthorizedAction.EditClub] || Model.IsAuthorized[AuthorizedAction.DeleteClub];
}
<div class="container-xl">
    <h1>@Model.Club.ClubName</h1>

    <ul class="nav nav-tabs@(authorizedToEdit ? " nav-tabs-has-edit" : string.Empty)">
        <li class="nav-item">
            <em class="nav-link active">Summary</em>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute/matches">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute/statistics">Statistics</a>
        </li>
        @if (authorizedToEdit)
        {
            <li class="nav-item nav-item-admin">
                <a class="nav-link nav-link-edit" href="@Model.Club.ClubRoute/edit">Edit club</a>
            </li>
        }
    </ul>

    <h2>Teams</h2>
    @if (Model.Club.Teams.Count > 0)
    {
        @Html.Partial("_TeamList", Model.Club.Teams)
    }
    else
    {
        <p>No active teams have been added to @Model.Club.ClubName.</p>
    }

    @if (Model.Club.Teams.Any(x => x.ClubMark))
    {
        @Html.Partial("_ClubMark")
    }
</div>