@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubsViewModel>
@using Humanizer

<h1>
    Stoolball clubs
    @if (!string.IsNullOrEmpty(Model.ClubQuery.Query))
    {
        @: matching '@Model.ClubQuery.Query'
    }
</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <em class="nav-link active">Search</em>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clubs/add">Add</a>
    </li>
</ul>

<form method="get" action="@Request.Url" class="form-inline form-search">
    <label class="sr-only" for="club-search">Club name</label>
    <input type="search" class="form-control" id="club-search" name="q" value="@Model.ClubQuery.Query" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<dl>
    @foreach (var club in Model.Clubs.Where(x => x.Teams.Count > 0))
    {
        <dt><a href="@club.ClubRoute">@club.ClubName</a></dt>
        <dd>@(club.Teams.Select(x => x.PlayerType).Distinct().Humanize().Humanize(LetterCasing.Sentence)).</dd>
    }
    @foreach (var club in Model.Clubs.Where(x => x.Teams.Count == 0))
    {
        <dt><a href="@club.ClubRoute">@club.ClubName</a></dt>
        <dd>
            <p>No active teams.</p>
        </dd>
    }
</dl>