@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsSummaryViewModel<Competition>>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Statistics
@using Stoolball.Competitions
@using Stoolball.Matches
@using Stoolball.Statistics
@{
    Html.RequiresCss("/statistics/statistics.min.css");

    var individualScores = new StatisticsViewModel<PlayerInnings>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    individualScores.Results.AddRange(Model.PlayerInnings);
    var bowlingFigures = new StatisticsViewModel<BowlingFigures>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    bowlingFigures.Results.AddRange(Model.BowlingFigures);
    var mostRuns = new StatisticsViewModel<BestTotal>(Model, Services.UserService) { ShowCaption = true, ShowTeamsColumn = true, StatisticsFilter = Model.StatisticsFilter };
    mostRuns.Results.AddRange(Model.MostRuns);
}
<div class="container-xl">
    <h1>@Model.Context.CompetitionNameAndPlayerType()</h1>

    @if (Model.Context.UntilYear.HasValue)
    {
        <p class="alert alert-info"><strong>This competition isn't played any more.</strong></p>
    }

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.CompetitionRoute">Summary</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Statistics</em>
        </li>
    </ul>

    @if (!Model.PlayerInnings.Any() && !Model.BowlingFigures.Any())
    {
        <p>There are no statistics for this competition yet. Statistics are based on scorecards added to this website – see <a href="/organise/website/how-to-add-match-results/">How to add match results</a>.</p>
    }
    else
    {
        @Html.Partial("_IndividualScores", individualScores)
        @Html.Partial("_MostRuns", mostRuns)
        @Html.Partial("_BowlingFigures", bowlingFigures)
    }
</div>