@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.DeleteClubViewModel>
@using Humanizer
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Clubs
@using Stoolball.Security
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");
}
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Delete @Model.Club.ClubName</h1>

@if (Model.IsAuthorized[AuthorizedAction.DeleteClub])
{
    if (!Model.Deleted)
    {
        <p>If you delete @Model.Club.ClubName you will:</p>
        <ul>
            @if (Model.Club.Teams.Count > 0)
            {
                <li>remove the connection between @Model.Club.Teams.Humanize(x => x.TeamName)</li>
                if (Model.Club.ClubMark)
                {
                    <li>remove the ClubMark status from @Model.Club.Teams.Humanize(x => x.TeamName)</li>
                }
            }
            else
            {
                <li>not affect any teams</li>
            }
        </ul>
        <p><strong><strong>You cannot undo this.</strong></strong></p>

        using (Html.BeginUmbracoForm<DeleteClubSurfaceController>
               ("DeleteClub"))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => Model.ConfirmDeleteRequest.RequiredText)
            <div class="form-group">
                @Html.LabelFor(m => Model.ConfirmDeleteRequest.ConfirmationText, $"If you're sure you wish to continue, type '{Model.Club.ClubName}' into this box:")
                @Html.TextBoxFor(m => Model.ConfirmDeleteRequest.ConfirmationText, new { @class = "form-control", required = "required", aria_describedby = "validation", autocorrect = "off", autocapitalize = "off", autocomplete = "off", spellcheck="false" })
                @Html.ValidationMessageFor(m => Model.ConfirmDeleteRequest.ConfirmationText, null, new { id = "validation" })
            </div>

            <button class="btn btn-danger">@Html.Partial("_DeleteIcon", (Model.Club.ClubId.ToString(), string.Empty)) Delete @Model.Club.ClubName</button>
        }
    }
    else
    {
        <p>@Model.Club.ClubName has been deleted.</p>
        <a class="btn btn-primary" href="/teams">Back to clubs and teams</a>
    }
}
else
{
    @Html.Partial("_Login")
}