@inherits Umbraco.Web.Mvc.UmbracoViewPage<EditBowlingScorecardViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Matches
@using Stoolball.Web.Security
@using Humanizer
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("~/js/libs/jquery.autocomplete.min.js", 50);
    Html.RequiresCss("~/css/autocomplete.min.css");

    Html.RequiresJs("~/matches/edit-bowling-scorecard.js");

    Html.RequiresCss("~/css/steps.min.css");
}

<h1>Edit @Model.Match.MatchFullName(x => Model.DateFormatter.FormatDate(x.LocalDateTime, false, false, false))</h1>

@if (Model.IsAuthorized[AuthorizedAction.EditMatchResult])
{
    using (Html.BeginUmbracoForm<EditBowlingScorecardSurfaceController>
        ("UpdateMatch"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <ol class="steps">
            <li class="steps__completed"><em class="sr-only">Start of play</em></li>
            @{
                for (var i = 0; i < Model.Match.MatchInnings.Count; i++)
                {
                    if (Model.InningsOrderInMatch < (i + 1))
                    {
                        <li><span class="sr-only">@((i + 1).Ordinalize()) innings batting</span></li>
                        <li><span class="sr-only">@((i + 1).Ordinalize()) innings bowling</span></li>
                    }
                    else if (Model.InningsOrderInMatch == (i + 1))
                    {
                        <li class="steps__completed"><span class="sr-only">@((i + 1).Ordinalize()) innings batting</span></li>
                        <li aria-current="step"><span class="sr-only">@((i + 1).Ordinalize()) innings bowling</span></li>
                    }
                    else if (Model.InningsOrderInMatch > (i + 1))
                    {
                        <li class="steps__completed"><span class="sr-only">@((i + 1).Ordinalize()) innings batting</span></li>
                        <li class="steps__completed"><span class="sr-only">@((i + 1).Ordinalize()) innings bowling</span></li>
                    }
                }
            }
            <li><span class="sr-only">Result</span></li>
        </ol>

        <button class="btn btn-primary sr-only">Save and continue &gt;</button>

        <table class="table bowling-scorecard-editor">
            <caption>@Model.CurrentInnings.BowlingTeam.Team.TeamName's bowling, over-by-over</caption>
            <thead>
                <tr>
                    <th scope="col">Bowler</th>
                    <th scope="col" class="numeric">Balls bowled <small>(excluding extras)</small></th>
                    <th scope="col" class="numeric">Wides</th>
                    <th scope="col" class="numeric">No balls</th>
                    <th scope="col" class="numeric">Over total</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < (Model.CurrentInnings.Overs); i++)
                {
                    <tr>
                        <th scope="row">@Html.TextBoxFor(m => Model.CurrentInnings.OversBowled[i].PlayerIdentity.PlayerIdentityName, new { maxlength = "100", autocomplete = "off", @class = "scorecard__player-name", data_team = Model.CurrentInnings.BowlingTeam.Team.TeamId.ToString() })</th>
                        <td>@Html.TextBoxFor(m => Model.CurrentInnings.OversBowled[i].BallsBowled, new { autocomplete = "off", type = "number", min = "0", max = "12", @class = "numeric" })</td>
                        <td>@Html.TextBoxFor(m => Model.CurrentInnings.OversBowled[i].Wides, new { autocomplete = "off", type = "number", min = "0", @class = "numeric" })</td>
                        <td>@Html.TextBoxFor(m => Model.CurrentInnings.OversBowled[i].NoBalls, new { autocomplete = "off", type = "number", min = "0", @class = "numeric" })</td>
                        <td>@Html.TextBoxFor(m => Model.CurrentInnings.OversBowled[i].RunsConceded, new { autocomplete = "off", type = "number", min = "0", @class = "numeric" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/x-template" id="over-template">
            <table>
                <tr>
                    <th scope="row"><input autocomplete="off" class="scorecard__player-name" data-team="@Model.CurrentInnings.BowlingTeam.Team.TeamId.ToString()" maxlength="100" name="CurrentInnings.OversBowled[0].PlayerIdentity.PlayerIdentityName" type="text" value="" /></th>
                    <td><input autocomplete="off" class="numeric" data-val="true" data-val-number="The field BallsBowled must be a number." max="12" min="0" name="CurrentInnings.OversBowled[0].BallsBowled" type="number" value="" /></td>
                    <td><input autocomplete="off" class="numeric" data-val="true" data-val-number="The field Wides must be a number." min="0" name="CurrentInnings.OversBowled[0].Wides" type="number" value="" /></td>
                    <td><input autocomplete="off" class="numeric" data-val="true" data-val-number="The field NoBalls must be a number." min="0" name="CurrentInnings.OversBowled[0].NoBalls" type="number" value="" /></td>
                    <td><input autocomplete="off" class="numeric" data-val="true" data-val-number="The field RunsConceded must be a number." min="0" name="CurrentInnings.OversBowled[0].RunsConceded" type="number" value="" /></td>
                </tr>
            </table>
        </script>

        <button class="btn btn-primary">Save and continue &gt;</button>
    }
}
else
{
    @Html.Partial("_Login")
}