@inherits Umbraco.Web.Mvc.UmbracoViewPage<TeamViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Teams
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
    Html.RequiresJs("/js/tinymce.js");

    var firstAndOnlyMatch = Model.Matches.Matches.FirstOrDefault();
}

<h1>Edit @Model.Team.TeamName, @Model.Matches.DateTimeFormatter.FormatDate(firstAndOnlyMatch.StartTime, false, false)</h1>

@if (Model.IsAuthorized[AuthorizedAction.EditTeam])
{
    using (Html.BeginUmbracoForm<EditTransientTeamSurfaceController>
        ("UpdateTransientTeam"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrEditTeam")
    }
}
else
{
    @Html.Partial("_Login")
}