@inherits UmbracoViewPage<EditMatchFormatViewModel>
@inject Stoolball.Dates.IDateTimeFormatter dateTimeFormatter
@using Stoolball.Web.HtmlHelpers
@using Stoolball.Web.Matches
@using Stoolball.Web.Matches.Models
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@await Html.PartialAsync("_JQueryValidate")
@await Html.PartialAsync("_Forms")
<div class="container-xl">
    <h1>Edit @Html.MatchFullName(Model.Match!, x => dateTimeFormatter.FormatDate(x, false, false, false))</h1>

    @if (Model.Authorization.CurrentMemberIsAuthorized[AuthorizedAction.EditMatch])
    {
        using (Html.BeginUmbracoForm<EditMatchFormatSurfaceController>(nameof(EditMatchFormatSurfaceController.UpdateMatch)))
        {
            if (Model.Match!.StartTime <= DateTimeOffset.UtcNow)
            {
                <p class="alert alert-info alert-tip">You can add extra innings and overs but you cannot reduce them, because this match has already happened.</p>
            }

            <div class="form-group">
                @Html.LabelFor(m => Model.FormData.MatchInnings)
                <p class="form-text" id="innings-help"><small>Most matches have 2 innings, one per team.</small></p>
                @Html.TextBoxFor(m => Model.FormData.MatchInnings, new { @class = "form-control", aria_describedby = "innings-help innings-validation", @type = "number", min = (Model.Match.StartTime <= DateTimeOffset.UtcNow ? Model.FormData.MatchInnings : 2), step="2" })
                @Html.ValidationMessageFor(m => Model.FormData.MatchInnings, null, new { id = "innings-validation" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.FormData.Overs)
                @Html.TextBoxFor(m => Model.FormData.Overs, new { @class = "form-control", aria_describedby = "overs-validation", @type = "number", min = (Model.Match.StartTime <= DateTimeOffset.UtcNow ? Model.FormData.Overs : 1) })
                @Html.ValidationMessageFor(m => Model.FormData.Overs, null, new { id = "overs-validation" })
            </div>

            <button class="btn btn-primary" type="submit">Save match</button>
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>