@inherits Umbraco.Web.Mvc.UmbracoViewPage<SeasonViewModel>
@using ClientDependency.Core.Mvc
@using Humanizer
@using Stoolball.Competitions
@using Stoolball.Matches
@using Stoolball.Web.Competitions
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
    Html.RequiresJs("/js/tinymce.js");
}

<h1>Edit @Model.Season.SeasonFullName() results</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute/matches">Matches</a>
    </li>
    @if (Model.Season.MatchTypes.Contains(MatchType.LeagueMatch) || !string.IsNullOrEmpty(Model.Season.Results))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Model.Season.SeasonRoute/results">Results</a>
        </li>
    }
    <li class="nav-item">
        <em class="nav-link active">Edit</em>
    </li>
</ul>

@if (Model.IsAuthorized)
{
    using (Html.BeginUmbracoForm<EditSeasonResultsSurfaceController>
        ("UpdateSeason"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-group">
            <legend>Results table</legend>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(m => Model.Season.ResultsTableType, ResultsTableType.None, new { @class = "custom-control-input", @id = ResultsTableType.None.ToString() })
                <label for="@ResultsTableType.None.ToString()" class="custom-control-label">@ResultsTableType.None.ToString()</label>
            </div>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(m => Model.Season.ResultsTableType, ResultsTableType.LeagueTable, new { @class = "custom-control-input", @id = ResultsTableType.LeagueTable.ToString() })
                <label for="@ResultsTableType.LeagueTable.ToString()" class="custom-control-label">@ResultsTableType.LeagueTable.ToString().Humanize() (sorted by league points)</label>
            </div>
            <div class="custom-control custom-radio">
                @Html.RadioButtonFor(m => Model.Season.ResultsTableType, ResultsTableType.NonLeagueResultsTable, new { @class = "custom-control-input", @id = ResultsTableType.NonLeagueResultsTable.ToString() })
                <label for="@ResultsTableType.NonLeagueResultsTable.ToString()" class="custom-control-label">@ResultsTableType.NonLeagueResultsTable.ToString().Humanize() (no points, sorted alphabetically)</label>
            </div>
            @Html.ValidationMessageFor(m => Model.Season.ResultsTableType, null, new { id = "table-type-validation" })

            <div class="form-group custom-control custom-checkbox">
                @Html.CheckBoxFor(m => Model.Season.EnableRunsScored, new { @class = "custom-control-input" })
                @Html.LabelFor(m => Model.Season.EnableRunsScored, "Show runs scored", new { @class = "custom-control-label" })
            </div>

            <div class="form-group custom-control custom-checkbox">
                @Html.CheckBoxFor(m => Model.Season.EnableRunsConceded, new { @class = "custom-control-input" })
                @Html.LabelFor(m => Model.Season.EnableRunsConceded, "Show runs conceded", new { @class = "custom-control-label" })
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend>Points rules for league matches</legend>
            <table class="table">
                <thead>
                    <tr><th scope="col">Result</th><th scope="col">Points for home team</th><th scope="col">Points for away team</th></tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Season.PointsRules.Count; i++)
                    {
                    <tr>
                        <th scope="row">
                            @Model.Season.PointsRules[i].MatchResultType.ToString().Humanize()
                            @Html.HiddenFor(m => Model.Season.PointsRules[i].PointsRuleId)
                            @Html.HiddenFor(m => Model.Season.PointsRules[i].MatchResultType)
                        </th>
                        <td>
                            @Html.TextBoxFor(m => Model.Season.PointsRules[i].HomePoints, new { @type = "number", maxlength = "2" })
                            @Html.ValidationMessageFor(m => Model.Season.PointsRules[i].HomePoints, null)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => Model.Season.PointsRules[i].AwayPoints, new { @type = "number", maxlength = "2" })
                            @Html.ValidationMessageFor(m => Model.Season.PointsRules[i].AwayPoints, null)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </fieldset>

        <div class="form-group">
            @Html.LabelFor(m => Model.Season.Results)
            <p class="form-text" id="results-help"><small>For example, say who won if scorecards were not added, or how a tie was resolved in a league.</small></p>
            @Html.TextAreaFor(m => Model.Season.Results, new { @class = "form-control", aria_describedby = "results-validation results-help" })
            @Html.ValidationMessageFor(m => Model.Season.Results, null, new { id = "results-validation" })
        </div>

        <button class="btn btn-primary">Save season</button>
    }
}
else
{
    @Html.Partial("_Login")
}