@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.EmailAddress>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@using System.Web.Mvc.Html
@using Umbraco.Web
@using Stoolball.Web.Account
@using Stoolball.Web.Email
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");
}
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        if (TempData["Success"] == null)
        {
            @Html.Partial("_ConfirmEmailAddress", Members.GetCurrentMember())

            using (Html.BeginUmbracoForm<EmailAddressSurfaceController>("UpdateEmailAddress", null, new { id = "calling-it-search-disables-contact-managers" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => Model.FormData.Requested)
                    <p class="form-text" id="form-email-help">Your email address is currently <strong>@Members.CurrentUserName</strong>.</p>
                    @Html.TextBoxFor(m => Model.FormData.Requested, new { @class = "form-control", required = "required", aria_describedby = "form-email-help form-email", autocorrect = "off", autocapitalize = "off", autocomplete = "email", type = "email" })
                    @Html.ValidationMessageFor(m => Model.FormData.Requested, null, new { id = "form-email" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.FormData.Password)
                    @{ var describedBy = "form-password"; }
                    @if (!string.IsNullOrEmpty(Model.PasswordHelp))
                    {
                        describedBy = "form-password form-password-help";
                        <p class="form-text" id="form-password-help"><small>@Model.PasswordHelp</small></p>
                    }
                    @Html.TextBoxFor(m => Model.FormData.Password, new { @class = "form-control", required = "required", aria_describedby = describedBy, type = "password", autocorrect = "off", autocapitalize = "off", autocomplete = "current-password" })
                    @Html.ValidationMessageFor(m => Model.FormData.Password, null, new { id = "form-password" })
                </div>

                <button class="btn btn-primary">@Model.Value("saveButton")</button>
            }
        }
        else
        {
            @Html.ProtectEmailAddresses(Model.Value<IHtmlString>("requested"))
        }
    }
    else
    {
        @Html.Partial("_Login")
    }
</div>