@using Stoolball.Statistics;
@using Stoolball.Web.Statistics
@using Stoolball.Web.Statistics.Models
@inherits UmbracoViewPage<LinkedPlayersViewModel>
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    SmidgeHelper.RequiresCss(new CssFile("~/css/account.min.css") { Order = 100 });
    Model.LinkedByHeading = "Added by";
    Model.LinkedByMemberLabel = "You";
    Model.LinkedByTeamLabel = "Your team";
    Model.LinkedByStoolballEnglandLabel = "Admins";
    Model.CanUnlinkIdentitiesLinkedByMember = true;
    Model.CanRemoveFinalIdentity = true;
}
@await Html.PartialAsync("_RelatedItems")
<div class="container-xl">
    <h1>@Model.Metadata.PageTitle</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        if (Model.Player != null)
        {
            var combined = Model.Player.PlayerIdentities.Count() > 1 ? "combined" : string.Empty;
            <p>View your @combined player statistics on the player page for <a href="@Model.Player.PlayerRoute">@Model.Player.PlayerName()</a>.</p>
        }
        else
        {
            <p>If you've played stoolball and your statistics are on this website, find the player summary and add the player to your statistics.</p>
        }
        <p>If you changed your name or you play for multiple teams, your statistics may be spread over multiple players. You should add them all to your statistics.
        This will combine all the player pages into one so that you can see your true statistics.</p>

        @if (Model.Player != null)
        {
            using (Html.BeginUmbracoForm<LinkedPlayersForMemberSurfaceController>(nameof(LinkedPlayersForMemberSurfaceController.UpdateLinkedPlayers)))
            {
                @Html.HiddenFor(m => Model.PreferredNextRoute)
                <partial name="_LinkedPlayers" model="Model" />
     
                <button class="btn btn-primary" type="submit">Save players</button>
                <p><a href="@Model.PreferredNextRoute">Cancel</a></p>
            }
        }
        else
        {
            <p><strong>No players are linked to your account.</strong></p>
            <p><a href="/account" class="btn btn-primary btn-back">Back to my account</a></p>       
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>