@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>
@using Stoolball.Web.Matches
@section head {
    <meta name="robots" content="noindex,follow" />
}
<div class="container-xl">
    <h1>@Model.Club.ClubName</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute">Summary</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Matches</em>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute/statistics">Statistics</a>
        </li>
    </ul>

    @if (Model.Matches.Matches.Count > 0)
    {
        @Html.Partial("_MatchList", Model.Matches)
    }
    else
    {
        <p>There are no matches for this club this season.</p>
    }
    @Html.Partial("_MatchListSubscriptions", new MatchListSubscriptionsViewModel { BaseRoute = Model.Club.ClubRoute })
</div>