@inherits Umbraco.Web.Mvc.UmbracoViewPage<MatchListingViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Matches
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page", "q" })}
@{ 
    Html.RequiresJs("/js/filter.js");
    Html.RequiresCss("/css/filter.min.css");
}
<div class="container-xl">
    <h1>@Stoolball.Constants.Pages.Matches</h1>
    
    <ul class="nav nav-tabs nav-tabs-has-add">
        <li class="nav-item">
            <em class="nav-link active">Matches</em>
        </li>
        <li class="nav-item">
            <a href="/tournaments" class="nav-link">Tournaments</a>
        </li>
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
    </ul>
    @Html.Partial("_MatchFilter", new MatchFilterViewModel { 
        FilterDescription = Model.FilterDescription,
        from = Model.MatchFilter.FromDate,
        to = Model.MatchFilter.UntilDate
    })

    @if (Model.Matches.Count > 0)
    {
        @Html.Partial("_MatchList", Model)
    }
    else
    {
        <p>There are no matches matching this filter.</p>
        <p>Find out how to <a href="/organise/website/">add matches and results to our website</a>.</p>
    }

    @Html.Partial("_Paging", Model.MatchFilter.Paging)
    @Html.Partial("_MatchListSubscriptions", new MatchListSubscriptionsViewModel())
</div>