@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Matches
@{
    Html.RequiresJs("/js/filter.js");
    Html.RequiresCss("/css/filter.min.css");

    var clonedQueryString = HttpUtility.ParseQueryString(Request.QueryString.ToString());
    clonedQueryString.Remove("page");
    var unpagedQueryString = clonedQueryString.Count > 0 ? "?" + clonedQueryString : string.Empty;
}
@section head {
    <meta name="robots" content="noindex,follow" />
}
<div class="container-xl">
    <h1>@Model.Club.ClubName</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute">Summary</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Matches</em>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Club.ClubRoute/statistics">Statistics</a>
        </li>
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
    </ul>
    @Html.Partial("_MatchFilter", new MatchFilterViewModel
    {
        FilterDescription = Model.FilterDescription,
        from = Model.MatchFilter.FromDate,
        to = Model.MatchFilter.UntilDate
    })

    @if (Model.Matches.Matches.Count > 0)
    {
        @Html.Partial("_MatchList", Model.Matches)
    }
    else
    {
        <p>There are no matches for this club matching this filter.</p>
        <p>Find out how to <a href="/organise/website/">add matches and results to our website</a>.</p>
    }
    @Html.Partial("_MatchListSubscriptions", new MatchListSubscriptionsViewModel { BaseRoute = Model.Club.ClubRoute })
</div>