@inherits UmbracoViewPage<MatchListingViewModel>
@inject IDateTimeFormatter dateTimeFormatter
@using Stoolball.Web.Matches.Models
@using Humanizer
@using Stoolball.Dates
@{
    Layout = null;
    Context.Response.ContentType = "application/rss+xml";
    var canonicalUrl = $"{Context.Request.Scheme}://www.stoolball.org.uk{Context.Request.Path.Value!.Substring(0, Context.Request.Path.Value.Length - 4)}.rss{Context.Request.QueryString.Value}";
    Context.Response.Headers.Add("Link", $"<{canonicalUrl}>; rel=\"canonical\"");
}<?xml version="1.0" encoding="utf-8" ?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
<channel>
    <title>@Model.Metadata.PageTitle</title>
    <link>https://www.stoolball.org.uk/matches</link>
    <description>@Model.Metadata.Description</description>
    <pubDate>@DateTimeOffset.UtcNow.ToRFC822()</pubDate>
    <image>
        <url>https://www.stoolball.org.uk/images/logos/stoolball-england-rss.gif</url>
        <title>@Model.Metadata.PageTitle</title>
        <link>https://www.stoolball.org.uk/matches</link>
    </image>
    <language>en-GB</language>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    @foreach (var listing in Model.Matches)
    {
    @:<item>
        <title><![CDATA[@listing.MatchName, @dateTimeFormatter.FormatDate(listing.StartTime, true, false,false)]]></title>
        <description><![CDATA[@listing.Description()]]></description>
        <link>@:https://www.stoolball.org.uk@(listing.MatchRoute)</link>
        <pubDate>@(listing.LastAuditDate.HasValue ? listing.LastAuditDate.Value.ToRFC822() : DateTimeOffset.UtcNow.ToRFC822())</pubDate>
        <guid isPermaLink="false">@(listing.MatchType == null ? Stoolball.Constants.EntityUriPrefixes.Tournament : Stoolball.Constants.EntityUriPrefixes.Match)@listing.MatchId</guid>
        <source url="@canonicalUrl" />
        <category>@listing.PlayerType.Humanize(LetterCasing.LowerCase)</category>
    @:</item>
    }
</channel>
</rss>