@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Teams.TeamViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Matches
@using Stoolball.Matches
@{
    Html.RequiresJs("/js/filter.js");
    Html.RequiresCss("/css/filter.min.css");
    Html.RequiresCss("~/matches/matches.min.css");

    var clonedQueryString = HttpUtility.ParseQueryString(Request.QueryString.ToString());
    clonedQueryString.Remove("page");
    var unpagedQueryString = clonedQueryString.Count > 0 ? "?" + clonedQueryString : string.Empty;
}
@{
    var matchMenu = new AddMatchMenuViewModel { BaseRoute = Model.Team.TeamRoute, EnableTournaments = true };

    if (Model.IsInACurrentLeague)
    {
        matchMenu.MatchTypes.Add(MatchType.LeagueMatch);
    }
    if (Model.IsInACurrentKnockoutCompetition)
    {
        matchMenu.MatchTypes.Add(MatchType.KnockoutMatch);
    }
    matchMenu.MatchTypes.Add(MatchType.TrainingSession);
    matchMenu.MatchTypes.Add(MatchType.FriendlyMatch);
}
@section head {
    <meta name="robots" content="noindex,follow" />
}
<div class="container-xl">
    <h1>@Model.Team.TeamNameLocationAndPlayerType()</h1>

    @if (Model.Team.UntilYear.HasValue)
    {
        <div class="alert alert-info">
            <p><strong>This team is no longer active.</strong></p>
        </div>
    }

    <ul class="nav nav-tabs nav-tabs-has-add">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Team.TeamRoute">Summary</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Matches</em>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Team.TeamRoute/players">Players</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Team.TeamRoute/statistics">Statistics</a>
        </li>
        <li class="nav-item nav-item-admin nav-item-admin-md-first">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
        @Html.Partial("_AddMatchMenu", matchMenu)
    </ul>
    @Html.Partial("_MatchFilter", new MatchFilterViewModel
    {
        FilterDescription = Model.FilterDescription,
        from = Model.MatchFilter.FromDate,
        to = Model.MatchFilter.UntilDate
    })

    @if (Model.Matches.Matches.Count > 0)
    {
        @Html.Partial("_MatchList", Model.Matches)
    }
    else
    {
        <p>There are no matches for this team matching this filter.</p>
        <p>Find out how to <a href="/organise/website/">add matches and results to our website</a>.</p>
    }
    @Html.Partial("_MatchListSubscriptions", new MatchListSubscriptionsViewModel { BaseRoute = Model.Team.TeamRoute })
</div>