@inherits Umbraco.Web.Mvc.UmbracoViewPage<MatchListingViewModel>
@using Stoolball.Web.Matches
@using Humanizer
@using Stoolball.Dates
@{
    Layout = null;
    Response.ContentType = "application/rss+xml";
    var canonicalUrl = $"{Request.Url.Scheme}://www.stoolball.org.uk{Request.Url.AbsolutePath.Substring(0, Request.Url.AbsolutePath.Length - 4)}.rss{Request.Url.Query}";
    Response.Headers.Add("Link", $"<{canonicalUrl}>; rel=\"canonical\"");
}<?xml version="1.0" encoding="utf-8" ?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
<channel>
    <title>@Model.Metadata.PageTitle</title>
    <link>https://www.stoolball.org.uk/matches</link>
    <description>@Model.Metadata.Description</description>
    <pubDate>@DateTimeOffset.UtcNow.ToRFC822()</pubDate>
    <image>
        <url>https://www.stoolball.org.uk/images/logos/stoolball-england-rss.gif</url>
        <title>@Model.Metadata.PageTitle</title>
        <link>https://www.stoolball.org.uk/matches</link>
    </image>
    <language>en-GB</language>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    @foreach (var listing in Model.Matches)
    {
    @:<item>
        <title><![CDATA[@listing.MatchName, @Model.DateTimeFormatter.FormatDate(listing.StartTime.LocalDateTime, true, false,false)]]></title>
        <description><![CDATA[@listing.Description()]]></description>
        <link>@:https://www.stoolball.org.uk@listing.MatchRoute</link>
        <pubDate>@listing.LastAuditDate.Value.ToRFC822()</pubDate>
        <guid isPermaLink="false">@Stoolball.Constants.EntityUriPrefixes.Tournament@listing.MatchId</guid>
        <source url="@canonicalUrl" />
        <category>@listing.PlayerType.Humanize(LetterCasing.LowerCase)</category>
    @:</item>
    }
</channel>
</rss>