@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.MatchLocations.MatchLocationsViewModel>
@using Humanizer

<h1>
    Grounds and sports halls
    @if (!string.IsNullOrEmpty(Model.MatchLocationQuery.Query))
    {
        @: matching '@Model.MatchLocationQuery.Query'
    }
</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <em class="nav-link active">Search</em>
    </li>
    @if (Model.IsAuthorized)
    {
        <li class="nav-item">
            <a class="nav-link" href="/locations/add">Add</a>
        </li>
    }
</ul>

<form method="get" action="@Request.Url" class="form-inline form-search">
    <label class="sr-only" for="location-search">Match location name</label>
    <input type="search" class="form-control" id="location-search" name="q" value="@Model.MatchLocationQuery.Query" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<dl>
    @foreach (var location in Model.MatchLocations.Where(x => x.Teams.Count > 0))
    {
        <dt><a href="@location.MatchLocationRoute">@location.NameAndLocalityOrTownIfDifferent()</a></dt>
        <dd>@(location.Teams.Select(x => x.PlayerType).Distinct().Humanize().Humanize(LetterCasing.Sentence)). @("team".ToQuantity(location.Teams.Count)).</dd>
    }
    @foreach (var location in Model.MatchLocations.Where(x => x.Teams.Count == 0))
    {
        <dt><a href="@location.MatchLocationRoute">@location.NameAndLocalityOrTownIfDifferent()</a></dt>
        <dd>
            <p>No active teams.</p>
        </dd>
    }
</dl>