@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MyAccount>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Account
@using Stoolball.Web.Email
@{ 
    Html.RequiresCss("~/account/account.min.css");
    var currentMemberBypassingCache = Members.GetById(Members.GetCurrentMember().Id);
}
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_ConfirmEmailAddress", currentMemberBypassingCache)
       
        var gravatar = new Gravatar(User.Identity.Name);
        @Html.GetBlockListHtml(Model, "blockList")

        <h2>Account picture</h2>
        <div class="gravatar">
            <img src="@gravatar.Url" alt="Your account picture from gravatar.com" width="@gravatar.Size" height="@gravatar.Size" />
            <div>@Html.ProtectEmailAddresses(Model.Value<IHtmlString>("gravatar"))</div>
        </div>
    }
    else
    {
        @Html.Partial("_Login")
    }
</div>