@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlayerViewModel>
@using Stoolball.Web.Statistics
@using System.Linq
@using Humanizer
@{ 
    var firstMatchYear = Model.Player.PlayerIdentities.Min(x => x.FirstPlayed).Value.Year;
    var lastMatchYear = Model.Player.PlayerIdentities.Min(x => x.LastPlayed).Value.Year;
    var matchYears = (firstMatchYear == lastMatchYear) ? $"in {firstMatchYear}" : $"from {firstMatchYear} to {lastMatchYear}";
}
<div class="container-xl">
    <h1>@(Model.Player?.PlayerName())</h1>
    <p>@(Model.Player?.PlayerName()) has played @Model.Player.PlayerIdentities.Sum(x => x.TotalMatches) 
    matches for @Html.Raw(Model.Player.PlayerIdentities.Select(x => x.Team).ToList().Humanize(x => $"<a href=\"{Html.Encode(x.TeamRoute)}\">{Html.Encode(x.TeamName)}</a>")) @matchYears.</p>
    <p><a href="/play/statistics/individual-scores?player=@Model.Player.PlayerId">Individual scores – view all</a></p>
</div>
