@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ResetPassword>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Account
@using Stoolball.Web.Email
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");
}
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Logout")
    }
    else
    {
        if (!Model.ShowPasswordResetRequested)
        {
            @* Step 1: Display a form to request a password reset *@
            using (Html.BeginUmbracoForm<ResetPasswordRequestSurfaceController>("RequestPasswordReset"))
            {
                @Html.AntiForgeryToken()
                var resetPasswordRequest = new ResetPasswordRequestFormData();

                <div class="form-group">
                    @Html.LabelFor(m => resetPasswordRequest.Email, "Email")
                    @Html.TextBoxFor(m => resetPasswordRequest.Email, new { @class = "form-control", type = "email", required = "required", aria_describedby = "form-email", autocorrect = "off", autocapitalize = "off" })
                    @Html.ValidationMessageFor(m => resetPasswordRequest.Email, null, new { id = "form-email" })
                </div>
                <button class="btn btn-primary">@Model.ResetPasswordButton</button>
            }
        }
        else
        {
            @* Step 2: Confirm submit of the form to request a password reset *@
            @Html.ProtectEmailAddresses(Model.PasswordResetRequested.ToString(), Model.Email?.ToString())
        }
    }
</div>