@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Competitions.SeasonViewModel>
@{
    var the = Model.Season.Competition.CompetitionName.StartsWith("THE ", StringComparison.OrdinalIgnoreCase) ? string.Empty : "the ";
}
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Edit @Model.Season.SeasonFullNameAndPlayerType()</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute/matches">Matches</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Edit</em>
    </li>
</ul>

@if (Model.IsAuthorized)
{
    <h2>Settings for @the@Model.Season.Competition.CompetitionName</h2>
    @Html.Partial("_CompetitionActions", Model.Season.Competition)

    <h2>Settings for the @Model.Season.SeasonName()</h2>
    <dt><a href="@Model.Season.SeasonRoute/edit/season">Edit the @Model.Season.SeasonName()</a></dt>
    <dd>Set the introduction, and the types of match played.</dd>
}
else
{
    @Html.Partial("_Login")
}