@inherits Umbraco.Web.Mvc.UmbracoViewPage<SeasonViewModel>
@using Stoolball.Matches
@using Stoolball.Web.Competitions
@{
    var the = Model.Season.Competition.CompetitionName.StartsWith("THE ", StringComparison.OrdinalIgnoreCase) ? string.Empty : "the ";
}
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Edit @Model.Season.SeasonFullName()</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.Season.SeasonRoute/matches">Matches</a>
    </li>
    @if (Model.Season.MatchTypes.Contains(MatchType.LeagueMatch) || !string.IsNullOrEmpty(Model.Season.Results))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Model.Season.SeasonRoute/results">Results</a>
        </li>
    }
    <li class="nav-item">
        <em class="nav-link active">Edit</em>
    </li>
</ul>

@if (Model.IsAuthorized)
{
    <h2>Settings for @the@Model.Season.Competition.CompetitionName</h2>
    @Html.Partial("_CompetitionActions", new CompetitionViewModel(Model) { Competition = Model.Season.Competition, IsAdministrator = Model.IsAdministrator })

    <h2>Settings for the @Model.Season.SeasonName()</h2>
    <dt><a href="@Model.Season.SeasonRoute/edit/season">Edit the @Model.Season.SeasonName()</a></dt>
    <dd>Set the introduction, types of match played, the how results are shown.</dd>
    <dt><a href="@Model.Season.SeasonRoute/edit/points">Edit points for the @Model.Season.SeasonName()</a></dt>
    <dd>Set how league points are calculated.</dd>
    if (Model.IsAdministrator)
    {
        <dt><a href="@Model.Season.SeasonRoute/delete">Delete the @Model.Season.SeasonName()</a> @Html.Partial("_AdminOnly")</dt>
        <dd>Lose the results of this season. Remove it from the details of matches and teams.</dd>
    }
}
else
{
    @Html.Partial("_Login")
}