@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<Season>>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Statistics
@using Stoolball.Competitions
@using Stoolball.Matches
@{
    Html.RequiresCss("/statistics/statistics.min.css");

    var individualScores = new IndividualScoresViewModel(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    individualScores.Results.AddRange(Model.PlayerInnings);
}
<div class="container-xl">
    <h1>@Model.Context.SeasonFullNameAndPlayerType()</h1>

    @if (Model.Context.Competition.UntilYear.HasValue)
    {
        <div class="alert alert-info">
            <p><strong>This competition isn't played any more.</strong></p>
        </div>
    }

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.SeasonRoute">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.SeasonRoute/matches">Matches</a>
        </li>
        @if (Model.Context.MatchTypes.Contains(MatchType.LeagueMatch) ||
            Model.Context.MatchTypes.Contains(MatchType.KnockoutMatch) ||
            Model.Context.MatchTypes.Contains(MatchType.FriendlyMatch) ||
            !string.IsNullOrEmpty(Model.Context.Results))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Model.Context.SeasonRoute/table">Table</a>
            </li>
        }
        <li class="nav-item">
            <em class="nav-link active">Statistics</em>
        </li>
    </ul>

    @if (!Model.PlayerInnings.Any())
    {
        <p>There are no statistics for this season yet. Statistics are based on scorecards added to this website – see <a href="/organise/website/how-to-add-match-results/">How to add match results</a>.</p>
    }
    else
    {
        @Html.Partial("_IndividualScores", individualScores)
    }
    @if (Model.Context.Competition.Seasons.Count > 1)
    {
        var previous = Model.Context.Competition.Seasons.FirstOrDefault(x => x.FromYear <= Model.Context.FromYear && x.UntilYear <= Model.Context.UntilYear && x.SeasonId != Model.Context.SeasonId);
        var next = Model.Context.Competition.Seasons.LastOrDefault(x => x.FromYear >= Model.Context.FromYear && x.UntilYear >= Model.Context.UntilYear && x.SeasonId != Model.Context.SeasonId);
        <h2 class="sr-only">Seasons in this competition</h2>
        <p class="d-print-none">
            @if (previous != null)
            {
                <a href="@previous.SeasonRoute/statistics" class="btn btn-secondary btn-back">Previous season</a>
            }
            @if (next != null)
            {
                <a href="@next.SeasonRoute/statistics" class="btn btn-secondary">Next season</a>
            }
            <a href="@Model.Context.Competition.CompetitionRoute/statistics" class="btn btn-secondary">All seasons</a>
        </p>
    }
</div>