@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsSummaryViewModel>
@using Stoolball.Security
@using Stoolball.Matches
@using Stoolball.Statistics
@using Stoolball.Web.Statistics
@using ClientDependency.Core.Mvc
@{
    Html.RequiresCss("/statistics/statistics.min.css");
    var individualScores = new StatisticsViewModel<PlayerInnings>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    individualScores.Results.AddRange(Model.PlayerInnings);
    var bowlingFigures = new StatisticsViewModel<BowlingFigures>(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    bowlingFigures.Results.AddRange(Model.BowlingFigures);
    var mostRuns = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, StatisticsFilter = Model.StatisticsFilter };
    mostRuns.Results.AddRange(Model.MostRuns);
    var mostWickets = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, StatisticsFilter = Model.StatisticsFilter };
    mostWickets.Results.AddRange(Model.MostWickets);
    var mostCatches = new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowCaption = true, StatisticsFilter = Model.StatisticsFilter };
    mostCatches.Results.AddRange(Model.MostCatches);
}
@section head {
    <meta name="robots" content="noindex, follow" />
}
<div class="container-xl">
    <h1>Statistics for all teams</h1>

    @if (Model.IsAuthorized[AuthorizedAction.EditStatistics])
    {
        <ul class="nav nav-tabs nav-tabs-admin-only">
            <li class="nav-item nav-item-admin">
                <a class="nav-link nav-link-edit" href="@Stoolball.Constants.Pages.StatisticsUrl/edit">Edit statistics</a>
            </li>
        </ul>
    }

    @Html.Partial("_StatisticsBasis")
    @Html.Partial("_IndividualScores", individualScores)
    @Html.Partial("_MostRuns", mostRuns)
    @Html.Partial("_BattingAverage", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
    @Html.Partial("_BowlingFigures", bowlingFigures)
    @Html.Partial("_MostWickets", mostWickets)
    @Html.Partial("_MostCatches", mostCatches)
    @Html.Partial("_MostRunOuts", new StatisticsViewModel<BestStatistic>(Model, Services.UserService) { ShowLinkOnly = true })
</div>