@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.StyleGuide>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc;
@using Stoolball.Teams
@using Stoolball.Competitions
@using Stoolball.Matches
@using Stoolball.Web.Matches
@using Stoolball.Web.Competitions
@{
    Html.RequiresJs("https://maps.google.co.uk/maps/api/js?key=" + Model.GoogleMapsApiKey, 50);
    Html.RequiresJs("/js/maps.js", 90);
    Html.RequiresJs("/matchlocations/match-location.js");

    Html.RequiresJs("~/js/libs/jquery.autocomplete.min.js", 50);
    Html.RequiresCss("~/css/autocomplete.min.css");

    Html.RequiresCss("~/css/related-items.min.css");
    Html.RequiresJs("~/js/related-items.js");

    Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
    Html.RequiresJs("/js/tinymce.js");
}
<h1>@Model.Name</h1>
<h2>Tabs</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Another tab</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Current tab</em>
    </li>
</ul>
<p>Text below tabs.</p>
<h2>Typography</h2>
<p>This is a paragraph following an h2, with <strong>bold</strong> and <em>italic</em> formatting.</p>
<p><img src="/images/logos/clubmark.png" alt="Clubmark accredited" width="150" height="29" /></p>
<p>This is a <a href="https://example.org">link</a> in a paragraph, below an image in its own paragraph.</p>
<ul>
    <li>An unordered list</li>
    <li>An unordered list</li>
    <li>An unordered list</li>
</ul>
<p>A paragraph before and after lists, and another list:</p>
<ol>
    <li>A numbered list</li>
    <li>A numbered list</li>
    <li>A numbered list</li>
</ol>
<table>
    <thead>
        <tr>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Table heading</th>
            <td>Table data</td>
            <td>Table data</td>
        </tr>
        <tr>
            <td>Table data</td>
            <td>Table data</td>
            <td>Table data</td>
        </tr>
    </tbody>
</table>
<p>A paragraph following a table.</p>
<dl>
    <dt><a href="https://example.org">Definition list title</a></dt>
    <dd>Definition list detail.</dd>
    <dt><a href="https://example.org">Definition list title</a> @Html.Partial("_AdminOnly")</dt>
    <dd>Definition list detail.</dd>
</dl>
<h2>Forms</h2>
<form>
    <div class="validation-summary-errors">
        <ul>
            <li>ASP.NET model-level validation error</li>
        </ul>
    </div>
    <p class="validation-summary-errors">Custom display of an error not from a validator.</p>
    <div class="form-group">
        <label for="unvalidated-text-field">Unvalidated text field</label>
        <input aria-describedby="form-name" class="form-control" id="unvalidated-text-field" name="unvalidated-text-field" required="required" type="text" value="" />
        <span class="field-validation-valid" data-valmsg-for="unvalidated-text-field" data-valmsg-replace="true" id="form-name"></span>
    </div>
    <div class="form-group">
        <label for="valid-text-field">Valid text field</label>
        <input aria-describedby="form-name valid-text-field-error" class="form-control is-valid" id="valid-text-field" name="valid-text-field" required="required" type="text" value="" />
        <span class="field-validation-valid" data-valmsg-for="valid-text-field" data-valmsg-replace="true" id="form-name"></span>
    </div>
    <div class="form-group">
        <label for="invalid-text-field">Invalid text field</label>
        <input aria-describedby="form-email invalid-text-field-error" autocapitalize="off" autocorrect="off" class="form-control input-validation-error" data-val="true" data-val-required="The field is required." id="invalid-text-field" name="invalid-text-field" required="required" type="text" value="" autocomplete="off" />
        <span class="field-validation-error" data-valmsg-for="invalid-text-field" data-valmsg-replace="true" id="form-email"><span id="invalid-text-field-error" class="">The text field is required.</span></span>
    </div>
    <div class="form-group">
        <p class="form-label">Account picture</p>
        <div class="form-row">
            <div class="col gravatar">
                <img src="https://s.gravatar.com/avatar/e3b84da4a85b8b6e897d5e04eb8b66ec?s=50" alt="Your account picture from gravatar.com" width="50" height="50" />
            </div>
            <div class="col">
                <p>This is how a gravatar is displayed during editing.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="unvalidated-text-field-with-help">Text field</label>
        <p class="form-text" id="form-text-help"><small>Help for the text field</small></p>
        <input aria-describedby="form-text form-text-help" class="form-control" data-val="true" data-val-required="The field is required." id="unvalidated-text-field-with-help" name="unvalidated-text-field-with-help" type="text" />
        <span class="field-validation-valid" data-valmsg-for="unvalidated-text-field-with-help" data-valmsg-replace="true" id="form-text"></span>
    </div>
    <div class="form-group">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg>
        <label for="unvalidated-email-field">Email field (with icon)</label>
        <input aria-describedby="form-email" autocapitalize="off" autocorrect="off" class="form-control" data-val="true" data-val-regex="Please enter a valid email address" id="unvalidated-email-field" name="unvalidated-email-field" required="required" type="email" value="" />
        <span class="field-validation-valid" data-valmsg-for="unvalidated-email-field" data-valmsg-replace="true" id="form-email"></span>
    </div>
    <div class="form-group">
        <label for="unvalidated-password-field">Password field</label>
        <input aria-describedby="form-password form-password-help" autocapitalize="off" autocorrect="off" class="form-control" data-val="true" data-val-required="The Password field is required." id="unvalidated-password-field" name="unvalidated-password-field" type="password" />
        <span class="field-validation-valid" data-valmsg-for="unvalidated-password-field" data-valmsg-replace="true" id="form-password"></span>
    </div>
    <div class="form-group">
        <label for="unvalidated-number-field">Number field</label>
        <input aria-describedby="unvalidated-number-field-validator" class="form-control" data-val="true" data-val-number="The field must be a number." id="unvalidated-number-field" name="unvalidated-number-field" type="number" value="10">
        <span class="field-validation-valid" data-valmsg-for="unvalidated-number-field" data-valmsg-replace="true" id="unvalidated-number-field-validator"></span>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input class="custom-control-input" data-val="true" data-val-required="The field is required." id="checkbox-not-checked" name="checkbox-not-checked" type="checkbox" value="true" />
        <label class="custom-control-label" for="checkbox-not-checked">Checkbox – not checked</label>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input class="custom-control-input" data-val="true" data-val-required="The field is required." id="checkbox-checked" name="checkbox-checked" type="checkbox" checked="checked" value="true" />
        <label class="custom-control-label" for="checkbox-checked">Checkbox – checked</label>
    </div>
    <fieldset class="form-group">
        <legend>Radio buttons</legend>
        <div class="custom-control custom-radio">
            <input checked="checked" class="custom-control-input" data-val="true" data-val-required="The field is required." id="radio-not-selected" name="radio" type="radio" value="1">
            <label for="radio-not-selected" class="custom-control-label">Radio button – not selected</label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" id="radio-selected" name="radio" type="radio" value="2" checked="checked">
            <label for="radio-selected" class="custom-control-label">Radio button – selected</label>
        </div>
    </fieldset>
    <table class="table table-hover related-items">
        <thead class="thead-dark">
            <tr><th scope="col" colspan="2">Multiple related items</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="related-item__animate">Selected item</div></td>
                <td class="related-item__delete">
                    <div class="related-item__animate">
                        <button class="text-danger">@Html.Partial("_DeleteIcon", (string.Empty, "Remove item"))</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Label("team-autocomplete", "Add a team", new { @class = "sr-only" })
                    @Html.TextBox("team-autocomplete", string.Empty, new
                    {
                        @class = "form-control related-item__search",
                        placeholder = "Add a team",
                        autocomplete = "off",
                        type = "search",
                        data_url = "/api/teams/autocomplete",
                        data_template = "team-template",
                        aria_label = "Type a team name add and press down arrow to select the team"
                    })
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/x-template" id="team-template">
        <tr>
            <td><div class="related-item__animate">{{value}}</div></td>
            <td class="related-item__delete">
                <div class="related-item__animate">
                    <button class="text-danger">@Html.Partial("_DeleteIcon", ("{{data}}", "Remove {{value}}"))</button>
                </div>
            </td>
        </tr>
    </script>
    <div class="form-group">
        <label for="rich-text">Rich text editor</label>
        <textarea aria-describedby="rich-text-validation" class="form-control" cols="20" id="rich-text" name="rich-text" rows="2"></textarea>
        <span class="field-validation-valid" data-valmsg-for="rich-text" data-valmsg-replace="true" id="rich-text-validation"></span>
    </div>
    <div class="form-group">
        <label for="rich-text-with-help">Rich text editor with help</label>
        <p class="form-text" id="rich-text-help"><small>Help for the rich text editor.</small></p>
        <textarea aria-describedby="rich-text-with-help-validation rich-text-help" class="form-control" cols="20" id="rich-text-with-help" name="rich-text-with-help" rows="2"></textarea>
        <span class="field-validation-valid" data-valmsg-for="rich-text-with-help" data-valmsg-replace="true" id="rich-text-with-help-validation"></span>
    </div>
    <button class="btn btn-primary">Button text</button>
    <button class="btn btn-danger">@Html.Partial("_DeleteIcon", (string.Empty, string.Empty)) Delete button</button>
</form>
<p>Paragraph below a button (outside the form) and above an informational alert.</p>
<div class="alert alert-info">
    <p>The text of an informational alert, including a <a href="https://example.org">link</a>.</p>
</div>
<h2>Stoolball listings</h2>
<p>This is a list of teams.</p>
@Html.Partial("_TeamList", new List<Team> {
    new Team { TeamName = "Team A", TeamRoute = "/teams/team-a" },
    new Team { TeamName = "Team B", TeamRoute = "/teams/team-b" }
})
<p>This is a list of matches.</p>
@{
    var matchListing = new MatchListingViewModel
    {
        DateTimeFormatter = new Stoolball.Dates.DateTimeFormatter()
    };
    matchListing.MatchTypesToLabel.Add(MatchType.FriendlyMatch);
    matchListing.Matches.AddRange(new[] {
    new MatchListing {
        MatchName = "Team A v Team B",
        MatchRoute = "/matches/team-a-v-team-b",
        MatchType = MatchType.LeagueMatch,
        StartTime = DateTime.UtcNow.AddMonths(-1)
        },
    new MatchListing {
        MatchName = "Team A v Team B",
        MatchRoute = "/matches/team-a-v-team-b",
        MatchType = MatchType.FriendlyMatch,
        StartTime = DateTime.UtcNow
        },
    new MatchListing {
        MatchName = "Team A tournament",
        MatchRoute = "/tournaments/team-a-tournament",
        MatchType = MatchType.Tournament,
        PlayerType = PlayerType.Mixed,
        SpacesInTournament = 5,
        StartTime = DateTime.UtcNow.AddMonths(1)
    }
    });
}
@Html.Partial("_MatchList", matchListing)

<p>This is a list of seasons.</p>
@{
    var seasonList = new SeasonListViewModel
    {
        ShowCompetitionHeading = true
    };
    var competition = new Competition { CompetitionName = "Example competition" };
    competition.Seasons.Add(new Season { StartYear = 2020, EndYear = 2020, SeasonRoute = "/competitions/example/2020" });
    competition.Seasons.Add(new Season { StartYear = 2020, EndYear = 2021, SeasonRoute = "/competitions/example/2020-21" });

    seasonList.Competitions.Add(competition);
}
@Html.Partial("_SeasonList", seasonList)
<div id="location-map" data-latitude="50.995715487915" data-longitude="0.088866949081421" data-precision="exact" data-title="Maresfield Recreation Ground, Maresfield">
    <p><a href="https://maps.google.co.uk/?z=16&amp;q=Maresfield+Recreation+Ground%2c+Maresfield@50.995715487915,0.088866949081421&amp;ll=50.995715487915,0.088866949081421">Map of Maresfield Recreation Ground, Maresfield on Google Maps</a></p>
</div>