@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<Team>>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Statistics
@using Stoolball.Teams
@{
    Html.RequiresCss("/statistics/statistics.min.css");

    var individualScores = new IndividualScoresViewModel(Model, Services.UserService) { ShowCaption = true, ShowPlayerColumn = true, StatisticsFilter = Model.StatisticsFilter };
    individualScores.Results.AddRange(Model.PlayerInnings);
}
<div class="container-xl">
    <h1>@Model.Context.TeamNameLocationAndPlayerType()</h1>

    @if (Model.Context.UntilYear.HasValue)
    {
        <div class="alert alert-info">
            <p><strong>This team is no longer active.</strong></p>
        </div>
    }

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.TeamRoute">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.TeamRoute/matches">Matches</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active" href="@Model.Context.TeamRoute/statistics">Statistics</em>
        </li>
    </ul>

    @Html.Partial("_IndividualScores", individualScores)
</div>