@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Teams.TeamViewModel>
@using Stoolball.Teams
@using Stoolball.Web.Competitions
@using Stoolball.Security
@using Humanizer
@using ClientDependency.Core.Mvc
@{ 
    var authorizedToEdit = Model.IsAuthorized[AuthorizedAction.EditTeam] || Model.IsAuthorized[AuthorizedAction.DeleteTeam];
    Html.RequiresJs("/teams/team.js");
}
<div class="container-xl">
    <h1>@Model.Team.TeamNameLocationAndPlayerType()</h1>

    @if (Model.Team.UntilYear.HasValue)
    {
        <div class="alert alert-info">
            <p><strong>This team is no longer active.</strong></p>
        </div>
    }

    <ul class="nav nav-tabs@(authorizedToEdit ? " nav-tabs-has-edit" : string.Empty)">
        <li class="nav-item">
            <em class="nav-link active">Summary</em>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Team.TeamRoute/matches">Matches</a>
        </li>
        @if (authorizedToEdit)
        {
            <li class="nav-item nav-item-admin">
                <a class="nav-link nav-link-edit" href="@Model.Team.TeamRoute/edit">Edit team</a>
            </li>
        }
    </ul>

    @Html.Raw(Model.Team.Introduction)

    @if (Model.Team.MatchLocations.Count > 0 || !string.IsNullOrWhiteSpace(Model.Team.PlayingTimes))
    {
        <h2>When and where</h2>
        if (Model.Team.MatchLocations.Count > 0)
        {
            <p>This team plays at @Html.Raw(Model.Team.MatchLocations.Humanize(x => $"<a href=\"{Html.Encode(x.MatchLocationRoute)}\">{Html.Encode(x.NameAndLocalityOrTownIfDifferent())}</a>")).</p>
        }
        if (!string.IsNullOrWhiteSpace(Model.Team.PlayingTimes))
        {
            @Html.Raw(Model.Team.PlayingTimes)
        }
    }

    @{
        var seasonListModel = new SeasonListViewModel
        {
            ShowCompetitionHeading = true
        };
        seasonListModel.Competitions.AddRange(Model.Team.Seasons
            .GroupBy(x => x.Season.Competition.CompetitionId)
            .Select(seasonsInACompetition =>
            {
                var competition = seasonsInACompetition.First().Season.Competition;
                competition.Seasons.AddRange(seasonsInACompetition.Select(season => season.Season));
                return competition;
            }));

        @Html.Partial("_SeasonListExpandable", seasonListModel);
    }

    @if (!string.IsNullOrWhiteSpace(Model.Team.Cost))
    {
        <h2>How much does it cost?</h2>
        @Html.Raw(Model.Team.Cost)
    }

    <h2>Contact details</h2>
    @if (!string.IsNullOrWhiteSpace(Model.Team.PublicContactDetails) || !string.IsNullOrWhiteSpace(Model.Team.Website))
    {
        @Html.Raw(Model.Team.PublicContactDetails)

        if (!string.IsNullOrWhiteSpace(Model.Team.Website))
        {
            <p>Visit <a href="@Model.Team.Website">@Model.Team.TeamName's website</a>.</p>
        }
    }
    else if (Model.Team.TeamType != TeamType.Representative)
    {
        // Prompt for more contact information, unless it's a representative team when we don't expect it
        @Html.Partial("_ContactDetailsMissing", "team")
    }

    @if (Model.Team.ClubMark)
    {
        @Html.Partial("_ClubMark")
    }

    @*
        $club = $this->team->GetClub();
        if ($club and ($club->GetFacebookUrl() or $club->GetTwitterAccount() or $club->GetInstagramAccount())) {
            ?>
            <div class="social screen">
            <?php
            if ($club->GetFacebookUrl())
            {
            ?>
                <a href="<?php echo Html::Encode($club->GetFacebookUrl()); ?>" class="facebook-group"><img src="/images/play/find-us-on-facebook.png" alt="Find us on Facebook" width="137" height="22" /></a>
            <?php
            }
            if ($club->GetTwitterAccount()) {
                ?>
                <a href="https://twitter.com/<?php echo Html::Encode(substr($club->GetTwitterAccount(), 1)); ?>" class="twitter-follow-button">Follow <?php echo Html::Encode($this->team->GetClub()->GetTwitterAccount()); ?></a>
                <script src="https://platform.twitter.com/widgets.js"></script>
                <?php
            }
            if ($club->GetInstagramAccount()) {
                ?>
                <a href="https://www.instagram.com/<?php echo Html::Encode(trim($club->GetInstagramAccount(),'@')); ?>/?ref=badge" class="instagram"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
                <?php
            }
            ?>
            </div>
            <?php
        } else {
            $this->ShowSocial();
        }

        ?>
    *@
</div>