@inherits UmbracoViewPage<MatchListingViewModel>
@inject Stoolball.Dates.IDateTimeFormatter dateTimeFormatter
@using Microsoft.AspNetCore.Http
@using Stoolball.Web.Matches.Models
@using Humanizer
@using Stoolball.Dates
@{
    Layout = null;
    Context.Response.ContentType = "application/rss+xml";
    Context.Response.Headers.Append("Cache-Control", "max-age=86400, public"); // allow any cache for 24 hours
    var canonicalUrl = $"{Context.Request.Scheme}://www.stoolball.org.uk{Context.Request.Path.Value!.Substring(0, Context.Request.Path.Value.Length - 4).Replace("/all", string.Empty)}.rss{Context.Request.QueryString.Value}";
    Context.Response.Headers.Add("Link", $"<{canonicalUrl}>; rel=\"canonical\"");
}<?xml version="1.0" encoding="utf-8" ?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
<channel>
    <title>@Model.Metadata.PageTitle</title>
    <link>https://www.stoolball.org.uk/tournaments</link>
    <description>@Model.Metadata.Description</description>
    <pubDate>@DateTimeOffset.UtcNow.ToRFC822()</pubDate>
    <image>
        <url>https://www.stoolball.org.uk/images/logos/stoolball-england-rss.gif</url>
        <title>@Model.Metadata.PageTitle</title>
        <link>https://www.stoolball.org.uk/tournaments</link>
    </image>
    <language>en-GB</language>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    @foreach (var tournament in Model.Matches)
    {
    @:<item>
        <title><![CDATA[@tournament.MatchName, @dateTimeFormatter.FormatDate(tournament.StartTime, true, false,false)]]></title>
        <description><![CDATA[@tournament.Description()]]></description>
        <link>@:https://www.stoolball.org.uk@(tournament.MatchRoute)</link>
        <pubDate>@(tournament.LastAuditDate.HasValue ? tournament.LastAuditDate.Value.ToRFC822() : DateTimeOffset.UtcNow.ToRFC822())</pubDate>
        <guid isPermaLink="false">@Stoolball.Constants.EntityUriPrefixes.Tournament@tournament.MatchId</guid>
		<source url="@canonicalUrl" />
        <category>@tournament.PlayerType.Humanize(LetterCasing.LowerCase)</category>
    @:</item>
    }
</channel>
</rss>