@inherits Umbraco.Web.Mvc.UmbracoViewPage<TournamentViewModel>
@using Stoolball.Web.Matches
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
<div class="container-xl">
    <h1>Edit @Html.TournamentFullNameAndPlayerType(Model.Tournament, x => Model.DateTimeFormatter.FormatDate(x, false))</h1>

    @if (Model.IsAuthorized[AuthorizedAction.EditTournament] || Model.IsAuthorized[AuthorizedAction.DeleteTournament])
    {
        <dl>
            @if (Model.IsAuthorized[AuthorizedAction.EditTournament])
            {
                <dt><a href="@Model.Tournament.TournamentRoute/edit/tournament">Edit @Html.TournamentFullName(Model.Tournament, x => Model.DateTimeFormatter.FormatDate(x, false))</a></dt>
                <dd>Set the name, date, time and location of the tournament, who can play, the match format and the notes.</dd>
                <dt><a href="@Model.Tournament.TournamentRoute/edit/teams">Teams</a></dt>
                <dd>Set how many teams you want, and which teams have confirmed they're playing.</dd>
                <dt><a href="@Model.Tournament.TournamentRoute/edit/seasons">Where to list the tournament</a></dt>
                <dd>Set which competitions to list this tournament in.</dd>
            }
            @if (Model.IsAuthorized[AuthorizedAction.DeleteTournament])
            {
                <dt><a href="@Model.Tournament.TournamentRoute/delete">Delete @Html.TournamentFullName(Model.Tournament, x => Model.DateTimeFormatter.FormatDate(x, false))</a></dt>
                <dd>Matches and match statistics will be lost. Players and teams that only feature in this tournament will be deleted.</dd>
            }
        </dl>
    }
    else
    {
        @Html.Partial("_Login")
    }
</div>