@inherits UmbracoViewPage<StatisticsViewModel<BowlingFigures>>
@inject Stoolball.Dates.IDateTimeFormatter dateTimeFormatter
@inject IStatisticsFilterQueryStringSerializer serialiser
@using Humanizer
@using Stoolball.Statistics
@using Stoolball.Web.Statistics.Models
@{
    var queryString = serialiser.Serialize(Model.AppliedFilter, Model.DefaultFilter);
}
@if (Model.Results.Any())
{
    <table class="statistics table-as-cards table-as-cards-reset-md">
        @if (Model.ShowCaption)
        {
            <caption>Best bowling figures</caption>
        }
        <thead>
            <tr>
                <th scope="col" class="table-order">#</th>
                @if (Model.ShowPlayerColumn)
                {
                    <th scope="col">Player</th>

                }
                <th scope="col">Match</th>
                <th scope="col">When</th>
                <th scope="col" class="numeric statistic">Wickets</th>
                <th scope="col" class="numeric statistic">Runs</th>
            </tr>
        </thead>
        <tbody>
            @{
                int? previousWickets = null;
                int? previousRuns = null;
                for (var i = 0; i < Model.Results.Count(); i++)
                {
                    var equalToPrevious = Model.Results[i].Result.Wickets == previousWickets && Model.Results[i].Result.RunsConceded == previousRuns;
                    previousWickets = Model.Results[i].Result.Wickets;
                    previousRuns = Model.Results[i].Result.RunsConceded;
                    <tr>
                        <td class="table-as-cards__header-md">@(equalToPrevious ? "=" : ((Model.AppliedFilter.Paging.PageSize * (Model.AppliedFilter.Paging.PageNumber - 1)) + i + 1).ToString())</td>
                        @if (Model.ShowPlayerColumn)
                        {
                            @if (Model.LinkPlayer)
                            {
                                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Player</span><a href="@Model.Results[i].Player.PlayerRoute">@(Model.Results[i].Player.PlayerName())</a></td>
                            }
                            else
                            {
                                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Player</span>@(Model.Results[i].Player.PlayerName())</td>
                            }
                        }
                        <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Match</span><div><a href="@Model.Results[i].Match.MatchRoute">@Model.Results[i].Match.MatchName</a></div></td>
                        <td data-stackable="true" class="text-nowrap"><span class="table-as-cards__label" aria-hidden="true">When</span>@(dateTimeFormatter.FormatDate(Model.Results[i].Match.StartTime, false, true, false))</td>
                        <td data-stackable="true" class="numeric-md"><span class="table-as-cards__label" aria-hidden="true">Wickets</span><span class="wickets">@Model.Results[i].Result.Wickets</span></td>
                        @if (Model.Results[i].Result.RunsConceded.HasValue)
                        {
                            <td data-stackable="true" class="numeric-md"><span class="table-as-cards__label" aria-hidden="true">Runs</span>@Model.Results[i].Result.RunsConceded!.Value</td>
                        }
                        else
                        {
                            <td data-stackable="true" class="numeric-md table-as-cards__missing-data">–</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    if (Model.AppliedFilter.MaxResultsAllowingExtraResultsIfValuesAreEqual.HasValue)
    {
        <p><a href="@Html.LinkToStatisticsTable("bowling-figures", queryString)">Best bowling figures – view all and filter</a></p>
    }
    else
    {
        @await Html.PartialAsync("_Paging", Model.AppliedFilter.Paging)
    }
}