@model Stoolball.Web.Competitions.CompetitionViewModel
@using Stoolball.Security
@{
    var the = Model.Competition.CompetitionName.StartsWith("THE ", StringComparison.OrdinalIgnoreCase) ? string.Empty : "the ";
}
<dl>
    @if (Model.IsAuthorized[AuthorizedAction.EditCompetition])
    {
        <dt><a href="@Model.Competition.CompetitionRoute/edit/competition">Edit @the'@Model.Competition.CompetitionName' competition</a></dt>
        <dd>Set the introduction, contact details, overs per match and more.</dd>
        <dt><a href="@Model.Competition.CompetitionRoute/add">Add a season</a></dt>
        <dd>Add a new season of competition, then you can add teams and matches.</dd>
    }
    @if (Model.IsAuthorized[AuthorizedAction.DeleteCompetition])
    {
        <dt><a href="@Model.Competition.CompetitionRoute/delete">Delete @the'@Model.Competition.CompetitionName' competition</a> @Html.Partial("_AdminOnly")</dt>
        <dd>Delete the competition and all its seasons, losing the results and statistics and removing it from teams' pages.</dd>
    }
</dl>
