@model MatchLocationViewModel
@using Stoolball.MatchLocations
@using Stoolball.Web.MatchLocations
@using Stoolball.Web.HtmlHelpers
@Html.ValidationSummary(true)

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.PrimaryAddressableObjectName)
    @Html.TextBoxFor(m => Model.MatchLocation.PrimaryAddressableObjectName, new { @class = "form-control", aria_describedby = "paon-validation" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.PrimaryAddressableObjectName, null, new { id = "paon-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.SecondaryAddressableObjectName)
    <p class="form-text" id="saon-help"><small>Only if there's more than one. For example, 'Pitch 1' or 'Hall 2'.</small></p>
    @Html.TextBoxFor(m => Model.MatchLocation.SecondaryAddressableObjectName, new { @class = "form-control", aria_describedby = "saon-validation saon-help" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.SecondaryAddressableObjectName, null, new { id = "saon-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.StreetDescription, RequiredFieldStatus.Optional, new { @class = "has-form-text" })
    @Html.TextBoxFor(m => Model.MatchLocation.StreetDescription, new { @class = "form-control", aria_describedby = "street-validation" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.StreetDescription, null, new { id = "street-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.Locality, RequiredFieldStatus.Optional, new { @class = "has-form-text" })
    @Html.TextBoxFor(m => Model.MatchLocation.Locality, new { @class = "form-control", aria_describedby = "locality-validation" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.Locality, null, new { id = "locality-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.Town)
    @Html.TextBoxFor(m => Model.MatchLocation.Town, new { @class = "form-control", aria_describedby = "town-validation" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.Town, null, new { id = "town-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.AdministrativeArea, RequiredFieldStatus.Optional, new { @class = "has-form-text" })
    @Html.TextBoxFor(m => Model.MatchLocation.AdministrativeArea, new { @class = "form-control", aria_describedby = "area-validation" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.AdministrativeArea, null, new { id = "area-validation" })
</div>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.Postcode, RequiredFieldStatus.Optional, new { @class = "has-form-text" })
    @Html.TextBoxFor(m => Model.MatchLocation.Postcode, new { @class = "form-control postcode", aria_describedby = "postcode-validation", maxlength="9" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.Postcode, null, new { id = "postcode-validation" })
</div>

<div id="map" data-apikey="@Model.GoogleMapsApiKey">
    <p class="alert-danger alert"><strong>You can set the location of this ground or sports centre using Google Maps, 
        but we can only show you the map if you <a href="/privacy/cookies/">consent to maps</a>.</strong></p>
</div>

<fieldset class="form-group" id="geoprecision">
    <legend>How accurate is the map?</legend>
    <div class="custom-control custom-radio">
        @Html.RadioButtonFor(m => Model.MatchLocation.GeoPrecision, GeoPrecision.Exact, new { @class = "custom-control-input", @id = "geo-0", aria_describedby = "precision-validation" })
        <label for="geo-0" class="custom-control-label">It shows exactly where the ground or sports centre is</label>
    </div>
    <div class="custom-control custom-radio">
        @Html.RadioButtonFor(m => Model.MatchLocation.GeoPrecision, GeoPrecision.Postcode, new { @class = "custom-control-input", @id = "geo-1", aria_describedby = "precision-validation" })
        <label for="geo-1" class="custom-control-label">It's the right postcode, and the ground or sports centre is nearby</label>
    </div>
    <div class="custom-control custom-radio">
        @Html.RadioButtonFor(m => Model.MatchLocation.GeoPrecision, GeoPrecision.Street, new { @class = "custom-control-input", @id = "geo-2", aria_describedby = "precision-validation" })
        <label for="geo-2" class="custom-control-label">The ground or sports centre is somewhere on this road</label>
    </div>
    <div class="custom-control custom-radio">
        @Html.RadioButtonFor(m => Model.MatchLocation.GeoPrecision, GeoPrecision.Town, new { @class = "custom-control-input", @id = "geo-3", aria_describedby = "precision-validation" })
        <label for="geo-3" class="custom-control-label">It shows the right town or village, but I don't know where the ground or sports centre is</label>
    </div>
    @Html.ValidationMessageFor(m => Model.MatchLocation.GeoPrecision, null, new { id = "precision-validation" })
    @Html.HiddenFor(m => Model.MatchLocation.Latitude)
    @Html.HiddenFor(m => Model.MatchLocation.Longitude)
</fieldset>

<div class="form-group">
    @Html.LabelFor(m => Model.MatchLocation.MatchLocationNotes, RequiredFieldStatus.Optional, new { @class = "has-form-text" })
    <p class="form-text" id="notes-help"><small>Is it easy to find? Is there parking? Disabled facilities? Toilets?</small></p>
    @Html.TextAreaFor(m => Model.MatchLocation.MatchLocationNotes, new { @class = "form-control", aria_describedby = "notes-validation notes-help" })
    @Html.ValidationMessageFor(m => Model.MatchLocation.MatchLocationNotes, null, new { id = "notes-validation" })
</div>

<button class="btn btn-primary">Save ground or sports centre</button>