@model ClubViewModel
@using Stoolball.Teams
@using Stoolball.Web.Clubs
@Html.ValidationSummary(true)

<div class="form-group">
    @Html.LabelFor(m => Model.Club.ClubName)
    @Html.TextBoxFor(m => Model.Club.ClubName, new { @class = "form-control", required = "required", aria_describedby = "club-name" })
    @Html.ValidationMessageFor(m => Model.Club.ClubName, null, new { id = "club-name" })
</div>
<div class="form-group custom-control custom-checkbox">
    @Html.CheckBoxFor(m => Model.Club.ClubMark, new { @class = "custom-control-input" })
    @Html.LabelFor(m => Model.Club.ClubMark, "ClubMark accredited", new { @class = "custom-control-label" })
</div>
<table class="table table-hover related-items">
    <thead class="thead-dark">
        <tr><th scope="col" colspan="2">Teams</th></tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Club.Teams.Count; i++)
        {
            var displayName = Model.Club.Teams[i].UntilYear.HasValue ? Model.Club.Teams[i].TeamName + " (no longer active)" : Model.Club.Teams[i].TeamName;
            <tr class="related-item__selected">
                <td class="related-item__selected__section"><div class="related-item__animate">@displayName</div></td>
                <td class="related-item__delete related-item__selected__section">
                    <div class="related-item__animate">
                        @Html.Hidden($"Club.Teams[{i}].TeamId", Model.Club.Teams[i].TeamId, new { @class = "related-item__data related-item__id", data_item = Model.Club.Teams[i].TeamId })
                        @Html.Hidden($"Club.Teams[{i}].TeamName", displayName, new { @class = "related-item__data", data_item = Model.Club.Teams[i].TeamId })@* Redisplayed if !ModelState.IsValid *@
                        <button type="button" class="btn-delete-icon">@Html.Partial("_DeleteIcon", $"Remove {Model.Club.Teams[i].TeamName} from this club")</button>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                @Html.Label("team-autocomplete", "Add a team", new { @class = "sr-only" })
                @Html.TextBox("team-autocomplete", string.Empty, new
                {
                    @class = "form-control related-item__search",
                    placeholder = "Add a team",
                    autocomplete = "off",
                    type = "search",
                    data_url = $"/api/teams/autocomplete?includeclubteams=false&teamType={TeamType.LimitedMembership.ToString()}&teamType={TeamType.Occasional.ToString()}&teamType={TeamType.Regular.ToString()}&teamType={TeamType.SchoolClub.ToString()}",
                    data_template = "team-template",
                    aria_label = "Type a team name and press down arrow to select the team"
                })
            </td>
        </tr>
    </tbody>
</table>
<script type="text/x-template" id="team-template">
    <table>
        <tr class="related-item__selected">
            <td class="related-item__selected__section"><div class="related-item__animate">{{value}}</div></td>
            <td class="related-item__delete related-item__selected__section">
                <div class="related-item__animate">
                    <input name="Club.Teams[0].TeamId" class="related-item__data related-item__id" type="hidden" value="{{data}}" data-item="{{data}}" />
                    <input name="Club.Teams[0].TeamName" class="related-item__data" type="hidden" value="{{value}}" data-item="{{data}}" />
                    <button type="button" class="btn-delete-icon">@Html.Partial("_DeleteIcon", "Remove {{value}} from this club")</button>
                </div>
            </td>
        </tr>
    </table>
</script>

<button class="btn btn-primary">Save club</button>