@model EditScorecardViewModel
@using Stoolball.Web.Matches
@using Humanizer
@using System.Globalization
@Html.ValidationSummary(false)

<table class="table-as-cards bowling-scorecard-editor" data-autofocus="@Model.Autofocus.ToString().ToLowerInvariant()">
    <caption>@Model.CurrentInnings.MatchInnings.BowlingTeam.Team.TeamName's bowling, over-by-over</caption>
    <thead>
        <tr>
            <th scope="col" class="bowling-scorecard-editor__header">Bowler</th>
            <th scope="col" class="bowling-scorecard-editor__header">Balls bowled <small class="text-nowrap">(excluding extras)</small></th>
            <th scope="col" class="bowling-scorecard-editor__header">Wides</th>
            <th scope="col" class="bowling-scorecard-editor__header">No balls</th>
            <th scope="col" class="bowling-scorecard-editor__header">Over total</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < (Model.CurrentInnings.MatchInnings.Overs); i++)
        {
            <tr>
                <th scope="row" data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__bowler">
                    @Html.LabelFor(m => Model.CurrentInnings.OversBowledSearch[i].Bowler, $"{(i + 1).Ordinalize(CultureInfo.CurrentCulture)} bowler", new { @class = "table-as-cards__label bowling-scorecard-editor__bowler-label" })
                    @Html.TextBoxFor(m => Model.CurrentInnings.OversBowledSearch[i].Bowler, new { autocomplete = "off", data_lpignore = "true", @class = "scorecard__player-name", data_team = Model.CurrentInnings.MatchInnings.BowlingTeam.Team.TeamId.ToString() })
                </th>
                <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__balls">
                    <label for="CurrentInnings_OversBowledSearch_@(i)__BallsBowled" class="table-as-cards__label bowling-scorecard-editor__balls-label">Balls bowled <small class="text-nowrap">(excluding extras)</small></label>
                    <span>@Html.TextBoxFor(m => Model.CurrentInnings.OversBowledSearch[i].BallsBowled, new { autocomplete = "off", type = "number", min = "1", max = "12", @class = "scorecard__balls" })</span>
                </td>
                <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__wides">
                    @Html.LabelFor(m => Model.CurrentInnings.OversBowledSearch[i].Wides, new { @class = "table-as-cards__label bowling-scorecard-editor__wides-label" })
                    @Html.TextBoxFor(m => Model.CurrentInnings.OversBowledSearch[i].Wides, new { autocomplete = "off", type = "number", min = "0", @class = "scorecard__wides" })
                </td>
                <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__no-balls">
                    @Html.LabelFor(m => Model.CurrentInnings.OversBowledSearch[i].NoBalls, new { @class = "table-as-cards__label bowling-scorecard-editor__no-balls-label text-nowrap" })
                    @Html.TextBoxFor(m => Model.CurrentInnings.OversBowledSearch[i].NoBalls, new { autocomplete = "off", type = "number", min = "0", @class = "scorecard__no-balls" })
                </td>
                <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__runs">
                    @Html.LabelFor(m => Model.CurrentInnings.OversBowledSearch[i].RunsConceded, new { @class = "table-as-cards__label bowling-scorecard-editor__runs-label text-nowrap" })
                    @Html.TextBoxFor(m => Model.CurrentInnings.OversBowledSearch[i].RunsConceded, new { autocomplete = "off", type = "number", min = "0", @class = "scorecard__runs" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/x-template" id="over-template">
    <table>
        <tr>
            <th scope="row" data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__bowler">
                <label class="table-as-cards__label bowling-scorecard-editor__bowler-label" for="CurrentInnings_OversBowledSearch_[0]__Bowler">[0th] bowler</label>
                <input autocomplete="off" data-lpignore="true" class="scorecard__player-name" data-team="@Model.CurrentInnings.MatchInnings.BowlingTeam.Team.TeamId.ToString()" name="CurrentInnings.OversBowledSearch[0].Bowler" id="CurrentInnings_OversBowledSearch_[0]__Bowler" type="text" value="" />
            </th>
            <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__balls">
                <label for="CurrentInnings_OversBowledSearch_[0]__BallsBowled" class="table-as-cards__label bowling-scorecard-editor__balls-label">Balls bowled <small class="text-nowrap">(excluding extras)</small></label>
                <span><input autocomplete="off" class="scorecard__balls" min="1" max="12" name="CurrentInnings.OversBowledSearch[0].BallsBowled" id="CurrentInnings_OversBowledSearch_[0]__BallsBowled" type="number" value="" /></span>
            </td>
            <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__wides">
                <label class="table-as-cards__label bowling-scorecard-editor__wides-label" for="CurrentInnings_OversBowledSearch_[0]__Wides">Wides</label>
                <input autocomplete="off" class="scorecard__wides" min="0" name="CurrentInnings.OversBowledSearch[0].Wides" id="CurrentInnings_OversBowledSearch_[0]__Wides" type="number" value="" />
            </td>
            <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__no-balls">
                <label class="table-as-cards__label bowling-scorecard-editor__no-balls-label text-nowrap" for="CurrentInnings_OversBowledSearch_[0]__NoBalls">No balls</label>
                <input autocomplete="off" class="scorecard__no-balls" min="0" name="CurrentInnings.OversBowledSearch[0].NoBalls" id="CurrentInnings_OversBowledSearch_[0]__NoBalls" type="number" value="" />
            </td>
            <td data-stackable="true" class="bowling-scorecard-editor__field bowling-scorecard-editor__runs">
                <label class="table-as-cards__label bowling-scorecard-editor__runs-label text-nowrap" for="CurrentInnings_OversBowledSearch_[0]__RunsConceded">Over total</label>
                <input autocomplete="off" class="scorecard__runs" min="0" name="CurrentInnings.OversBowledSearch[0].RunsConceded" id="CurrentInnings_OversBowledSearch_[0]__RunsConceded" type="number" value="" />
            </td>
        </tr>
    </table>
</script>

<p class="bowling-scorecard__full-name-tip d-none alert alert-info alert-tip" role="alert">Full names, if you know them, are better for comparing players.</p>