@model FilterViewModel
@using Stoolball.Web.Filtering
@using System.Globalization
<div class="filter">
    @if (!string.IsNullOrWhiteSpace(Model.FilterDescription))
    {
        <p class="filter__applied">Showing @Model.FilterDescription.ToFirstLower(CultureInfo.CurrentCulture).</p>
    }
    <form method="get" action="@Request.Url.AbsolutePath" class="filter__edit d-none">
        <div class="form-group">
            @Html.LabelFor(m => Model.from, Model.FilteredItemTypePlural + " from", new { aria_label = Model.FilteredItemTypeSingular + " date is on or after" })
            @Html.TextBox(nameof(Model.from), Model.from.HasValue ? Model.from.Value.ToString("yyyy-MM-dd") : string.Empty, new { @type = "date", @class = "form-control", aria_describedby = "from-date", data_val_date = "Enter a date in YYYY-MM-DD format." })
            @Html.ValidationMessageFor(m => Model.from, null, new { id = "from-date" })
            @Html.LabelFor(m => Model.to, "until", new { aria_label = Model.FilteredItemTypeSingular + " date is on or before" })
            @Html.TextBox(nameof(Model.to), Model.to.HasValue ? Model.to.Value.ToString("yyyy-MM-dd") : string.Empty, new { @type = "date", @class = "form-control", aria_describedby = "to-date", data_val_date = "Enter a date in YYYY-MM-DD format." })
            @Html.ValidationMessageFor(m => Model.to, null, new { id = "to-date" })
        </div>
        <div class="form-group"><button class="btn btn-secondary btn-apply-filter">Apply filter</button></div>
    </form>
</div>
