@model LinkedPlayersViewModel
@using Stoolball.Statistics;
@using Stoolball.Web.Statistics.Models;
@using System.Text
@functions {
    string DisplayLinkedBy(PlayerIdentityLinkedBy linkedBy)
    {
        switch (linkedBy)
        {
            case PlayerIdentityLinkedBy.Member:
                return Model.LinkedByMemberLabel;
            case PlayerIdentityLinkedBy.Team:
                return Model.LinkedByTeamLabel;
            case PlayerIdentityLinkedBy.StoolballEngland:
                return Model.LinkedByStoolballEnglandLabel;
        }
        return "Default";
    }
}
@{
    if (Model.Player is null) { return; }
    var notIdentities = new StringBuilder();
    var identitiesToShow = Model.ShowLinkedIdentityInTable ? Model.Player.PlayerIdentities : Model.Player.PlayerIdentities.Where(id => id.PlayerIdentityId != Model.ContextIdentity!.PlayerIdentityId).ToList();
}
<table class="table table-hover related-items linked-players" data-related-item="player">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="linked-players__player">Player name</th>
            <th scope="col" class="linked-players__team"><span class="related-items__if-not-empty">Team</span></th>
            <th scope="col" class="d-none d-sm-table-cell"><span class="related-items__if-not-empty">When</span></th>
            <th scope="col"><span class="related-items__if-not-empty">@Model.LinkedByHeading</span></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < identitiesToShow.Count; i++)
        {
            var firstMatch = identitiesToShow[i].FirstPlayed;
            var lastMatch = identitiesToShow[i].LastPlayed;
            var matchYears = firstMatch != null && lastMatch != null ? (firstMatch.Value.Year == lastMatch.Value.Year) ? $"in {firstMatch.Value.Year}" : $"from {firstMatch.Value.Year} to {lastMatch.Value.Year}" : string.Empty;
            var when = $"{identitiesToShow[i].TotalMatches} {(identitiesToShow[i].TotalMatches == 1 ? "match" : "matches")} {matchYears}";
            notIdentities.Append($"&not={identitiesToShow[i].PlayerIdentityId}");

            <tr class="related-item__selected">
                <td class="related-item__selected__section"><div class="related-item__animate">@identitiesToShow[i].PlayerIdentityName</div></td>
                <td class="related-item__selected__section"><div class="related-item__animate">@identitiesToShow[i].Team?.TeamName</div></td>
                <td class="related-item__selected__section d-none d-sm-table-cell"><div class="related-item__animate">@when</div></td>
                <td class="related-item__selected__section"><div class="related-item__animate">@DisplayLinkedBy(identitiesToShow[i].LinkedBy)</div></td>
                <td class="related-item__delete related-item__selected__section">
                    <div class="related-item__animate">
                        @Html.Hidden($"PlayerIdentities[{i}].PlayerIdentityId", identitiesToShow[i].PlayerIdentityId, new { @class = "related-item__data related-item__id", data_item = identitiesToShow[i].PlayerIdentityId })
                        @Html.Hidden($"PlayerIdentities[{i}].Player.PlayerId", Model.Player.PlayerId, new { @class = "related-item__data", data_item = identitiesToShow[i].PlayerIdentityId })
                        @if ((identitiesToShow[i].LinkedBy == PlayerIdentityLinkedBy.Member && Model.CanUnlinkIdentitiesLinkedByMember) ||
                       (identitiesToShow[i].LinkedBy == PlayerIdentityLinkedBy.Team && Model.CanUnlinkIdentitiesLinkedByTeam))
                        {
                            <button type="button" class="btn-delete-icon">@await Html.PartialAsync("_DeleteIcon", $"Unlink {identitiesToShow[i].PlayerIdentityName} from your account")</button>
                        }
                    </div>
                </td>
            </tr>
        }
    @if (Model.AddIdentitiesFromTeamId.HasValue)
    {            
        <tr>
            <td colspan="5">
                @Html.Label("player-autocomplete", "Link another player", new { @class = "sr-only" })
                @Html.TextBox("player-autocomplete", string.Empty, new
                {
                @class = "form-control related-item__search",
                placeholder = "Add another player",
                autocomplete = "off",
                type = "search",
                data_url = $"/api/players/autocomplete?teams={Model.AddIdentitiesFromTeamId}{notIdentities}&includeLinkedToMember=False&includeMultipleIdentities=False",
                data_template = "player-template",
                data_suggestion_template = "{{value}} ({{data.playerRecord}})",
                aria_label = "Type a player name and press down arrow to select the player"
                })
            </td>
        </tr>
    }
    </tbody>
    @if (Model.CanRemoveFinalIdentity)
    {
        <tbody>
                <tr class="related-items__if-empty"><td colspan="3">All players will be unlinked from your account.</td></tr>
        </tbody>
    }
</table>
@if (Model.AddIdentitiesFromTeamId.HasValue && Model.CurrentMemberRole.HasValue)
{
    <script type="text/x-template" id="player-template">
        <table>
            <tr class="related-item__selected">
                <td class="related-item__selected__section"><div class="related-item__animate">{{value}}</div></td>
                <td class="related-item__selected__section"><div class="related-item__animate">{{data.teamName}}</div></td>
                <td class="related-item__selected__section"><div class="related-item__animate">{{data.playerRecord}}</div></td>
                <td class="related-item__selected__section"><div class="related-item__animate">@DisplayLinkedBy(Model.CurrentMemberRole.Value)</div></td>
                <td class="related-item__delete related-item__selected__section">
                    <div class="related-item__animate">
                        <input name="PlayerIdentities[0].PlayerIdentityId" class="related-item__data related-item__id" type="hidden" value="{{data.playerIdentityId}}" data-item="{{data.playerIdentityId}}" />
                        <input name="PlayerIdentities[0].Player.PlayerId" class="related-item__data" type="hidden" value="{{data.playerId}}" data-item="{{data.playerIdentityId}}" />
                        <button type="button" class="btn-delete-icon">@await Html.PartialAsync("_DeleteIcon", "Remove {{value}}")</button>
                    </div>
                </td>
            </tr>
        </table>
    </script>
}
@await Html.PartialAsync("_StatisticsCacheWarning")