@using Stoolball.MatchLocations
@using System.Net
@using Stoolball.Web.MatchLocations.Models
@model MatchLocationViewModel
@if (Model.MatchLocation == null) { return; }
@{
    SmidgeHelper.RequiresJs(new JavaScriptFile("https://maps.google.co.uk/maps/api/js?key=" + Model.GoogleMapsApiKey){Order = 50});
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/maps.js"){Order = 90});
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/match-location.js"){Order = 100});
}
@if (Model.MatchLocation.Latitude.HasValue && Model.MatchLocation.Longitude.HasValue)
{
    var mapTitle = string.Empty;
    var precisionWarning = string.Empty;
    switch (Model.MatchLocation.GeoPrecision)
    {
        case GeoPrecision.Exact:
            mapTitle = Model.MatchLocation.NameAndLocalityOrTownIfDifferent();
            break;
        case GeoPrecision.Postcode:
            mapTitle = Model.MatchLocation.Postcode;
            precisionWarning = "Note: This map shows the nearest postcode. The ground or sports centre should be nearby.";
            break;
        case GeoPrecision.Street:
            mapTitle = Model.MatchLocation.StreetDescription + ", " + Model.MatchLocation.Town;
            precisionWarning = "Note: This map shows the nearest road. The ground or sports centre should be nearby.";
            break;
        case GeoPrecision.Town:
            mapTitle = Model.MatchLocation.Town;
            precisionWarning = "Note: This map shows the town or village. Contact the home team to find the ground or sports centre.";
            break;
    }
    <h@(Model.HeadingLevel)>Map of @mapTitle</h@(Model.HeadingLevel)>
    if (!string.IsNullOrEmpty(precisionWarning))
    {
        <p>@precisionWarning</p>
    }
    <div id="location-map" data-latitude="@Model.MatchLocation.Latitude" data-longitude="@Model.MatchLocation.Longitude" data-precision="@Model.MatchLocation.GeoPrecision?.ToString().ToLowerInvariant()">
        <p><a href="https://maps.google.co.uk/?z=16&amp;q=@WebUtility.UrlEncode(Model.MatchLocation.NameAndLocalityOrTown())@("@")@Model.MatchLocation.Latitude,@Model.MatchLocation.Longitude&amp;ll=@Model.MatchLocation.Latitude,@Model.MatchLocation.Longitude">Map of @mapTitle on Google Maps</a></p>
    </div>
}