@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CreateMember>
@using ContentModels = Umbraco.Web.PublishedModels;
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Stoolball.Web.Account
@using Stoolball.Web.Email
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    var createMemberModel = Members.CreateRegistrationModel();
}
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Logout")
    }
    else
    {
        if (TempData["FormSuccess"] != null)
        {
            @Html.ProtectEmailAddresses(Model.Value("memberCreatedSuccessfully").ToString(), TempData["Email"]?.ToString())
        }
        else
        {
            using (Html.BeginUmbracoForm<CreateMemberSurfaceController>("CreateMember"))
            {
                @Html.AntiForgeryToken()

                if (ViewContext.ViewData.ModelState.Where(x => x.Key == string.Empty).Any())
                {
                    @Html.ValidationSummary(true)
                }

                <div class="form-group">
                    @Html.LabelFor(m => createMemberModel.Name)
                    @Html.TextBoxFor(m => createMemberModel.Name, new { @class = "form-control", required = "required", aria_describedby = "form-name", autocomplete="name" })
                    @Html.ValidationMessageFor(m => createMemberModel.Name, null, new { id = "form-name" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => createMemberModel.Email)
                    @Html.TextBoxFor(m => createMemberModel.Email, new { @class = "form-control", type = "email", required = "required", aria_describedby = "form-email", autocorrect = "off", autocapitalize = "off", autocomplete="email" })
                    @Html.ValidationMessageFor(m => createMemberModel.Email, "Please enter a valid email address", new { id = "form-email" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => createMemberModel.Password)
                    @{ var describedBy = "form-password"; }
                    @if (!string.IsNullOrEmpty(Model.PasswordHelp))
                    {
                        describedBy = "form-password form-password-help";
                        <p class="form-text" id="form-password-help"><small>@Model.PasswordHelp</small></p>
                    }
                    @Html.PasswordFor(m => createMemberModel.Password, new { @class = "form-control", aria_describedby = describedBy, autocorrect = "off", autocapitalize = "off", autocomplete="new-password" })
                    @Html.ValidationMessageFor(m => createMemberModel.Password, "Please create a new password", new { id = "form-password" })
                </div>
                @Html.ProtectEmailAddresses(Model.Value("privacyNotice").ToString())

                <button class="btn btn-primary">@Model.Value("createMemberButton")</button>
            }
        }
    }
</div>