@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.MatchLocations.MatchLocationViewModel>
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
<div class="container-xl">
    <h1>Edit @Model.MatchLocation.NameAndLocalityOrTownIfDifferent()</h1>

    @if (Model.IsAuthorized[AuthorizedAction.EditMatchLocation] || Model.IsAuthorized[AuthorizedAction.DeleteMatchLocation])
    {
        <dl>
            @if (Model.IsAuthorized[AuthorizedAction.EditMatchLocation])
            {
                <dt><a href="@Model.MatchLocation.MatchLocationRoute/edit/location">Edit @Model.MatchLocation.NameAndLocalityOrTownIfDifferent()</a></dt>
                <dd>Set the address, map and notes.</dd>
            }
            @if (Model.IsAuthorized[AuthorizedAction.DeleteMatchLocation])
            {
                <dt><a href="@Model.MatchLocation.MatchLocationRoute/delete">Delete @Model.MatchLocation.NameAndLocalityOrTownIfDifferent()</a> @Html.Partial("_AdminOnly")</dt>
                <dd>Matches played here will have an unknown location. Teams based here will lose their home.</dd>
            }
        </dl>
    }
    else
    {
        @Html.Partial("_Login")
    }
</div>